.forma
{
    display: flex;
    background-color: aquamarine;
}
.NovaForma
{
    display: flex;
    background-color: brown;
}
.zaLabele,.zaPolja
{
    display: flex;
    flex-direction: column;
    flex:1 1 100px;

}
.zaPolja
{
    flex-grow: 3;
}
#roditelj
{
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}